{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block extra_styles %}
    {{ block.super }}  <!-- Используем стили из login.html -->
{% endblock %}

{% block content %}
    <div class="auth-container">
        <h2>Регистрация</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="password" name="password1" placeholder="Пароль" required>
            <input type="password" name="password2" placeholder="Подтвердите пароль" required>
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <div class="link">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
{% endblock %}

